@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/freesentation/Freesentation-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/freesentation/Freesentation-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/freesentation/Freesentation-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freesentation';
  src: url('/fonts/freesentation/Freesentation-9Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
