@theme {
  --color-white: #f9fafa;
  --color-white-70: #f9fafab3;

  --color-black: #1d1f20;

  --color-gray-100: #f0f4f3;
  --color-gray-200: #d9e0e1;
  --color-gray-300: #bdc4c6;
  --color-gray-400: #a8b0b3;
  --color-gray-500: #929da0;
  --color-gray-600: #757d80;
  --color-gray-700: #575e60;
  --color-gray-800: #3a3f40;
  --color-gray-900: #282c2d;

  --color-37demo-red: #ff5976;
  --color-37demo-red-80: #ff5976cc;
  --color-37demo-red-60: #ff597699;
  --color-37demo-red-40: #ff597666;
  --color-37demo-red-20: #ff597633;

  --shadow-top: 0px -4px 8px 0px #ffffff08;
  --shadow-bottom: 0px 4px 8px 0px #00000040;

  --font-sans: 'Freesentation', 'Pretendard', sans-serif;
}

@layer utilities {
  .black_bk_20 {
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: 0;
  }

  .head_b_20 {
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: 0;
  }

  .head_b_18 {
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0;
  }

  .head_b_16 {
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  .head_b_14 {
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  .title_m_18 {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0;
  }

  .title_m_12 {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  .body_r_16 {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  .body_r_14 {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  .body_r_12 {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  .caption_r_10 {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0.01em;
  }

  .shadow_top {
    box-shadow: var(--shadow-top);
  }

  .shadow_bottom {
    box-shadow: var(--shadow-bottom);
  }
}
