@import 'tailwindcss';
@import './fonts.css';
@import './theme.css';

@layer base {
  :root {
    --min-width: 375px;
    --max-width: 1440px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  html,
  body {
    font-size: 62.5%;
    font-family: var(--font-sans);
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
    color: var(--color-white);
    background: var(--color-black);
  }
}
