@import 'tailwindcss';
@import './fonts.css';
@import './theme.css';

@layer base {
  :root {
    --app-max-width: 440px;
    --nav-bottom-height: 80px;

    --safe-area-top: env(safe-area-inset-top, 0px);
    --safe-area-right: env(safe-area-inset-right, 0px);
    --safe-area-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-left: env(safe-area-inset-left, 0px);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  html,
  body {
    font-size: 62.5%;
    font-family: var(--font-sans);
    width: 100%;
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    color: var(--color-white);
    background: var(--color-black);
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}
